// http://patorjk.com/software/taag/#p=display&f=Georgia11&t=Type%20Something%20
// http://patorjk.com/software/taag/#p=display&f=4Max&t=Type%20Something%20
// `7MMF'                                               mm
//   MM                                                 MM
//   MM  `7MMpMMMb.pMMMb. `7MMpdMAo.  ,pW"Wq.`7Mb,od8 mmMMmm ,pP"Ybd
//   MM    MM    MM    MM   MM   `Wb 6W'   `Wb MM' "'   MM   8I   `"
//   MM    MM    MM    MM   MM    M8 8M     M8 MM       MM   `YMMMa.
//   MM    MM    MM    MM   MM   ,AP YA.   ,A9 MM       MM   L.   I8
// .JMML..JMML  JMML  JMML. MMbmmd'   `Ybmd9'.JMML.     `MbmoM9mmmP'
//                          MM
//                        .JMML.
@import 'normalize';

//                                ,,           ,,        ,,
// `7MMF'   `7MF'                 db          *MM      `7MM
//   `MA     ,V                                MM        MM
//    VM:   ,V ,6"Yb.  `7Mb,od8 `7MM   ,6"Yb.  MM,dMMb.  MM  .gP"Ya  ,pP"Ybd
//     MM.  M'8)   MM    MM' "'   MM  8)   MM  MM    `Mb MM ,M'   Yb 8I   `"
//     `MM A'  ,pm9MM    MM       MM   ,pm9MM  MM     M8 MM 8M"""""" `YMMMa.
//      :MM;  8M   MM    MM       MM  8M   MM  MM.   ,M9 MM YM.    , L.   I8
//       VF   `Moo9^Yo..JMML.   .JMML.`Moo9^Yo.P^YbmdP'.JMML.`Mbmmd' M9mmmP'
// COLOR
$burntOrange: #f1a85b;
$lightBurntOrange: #ffd4a1;
$darkBlue: #1f2e49;
$lightestBlue: #f0f4ff;
$lightBlue: #91beff;
$lightRed: #e49999;
$white: #FFFFFF;

// ADDED FOR LANDING PAGE
$midGray: #6c6c6c;
$orange: #ffa631;

// Flat UI Theft
$turquoise: #1ABC9C;
$greenSea: #16A085;
$sunFlower: #F1C40F;
$orange: #F39C12;
$wetasphalt: #34495E;


$shadow: hsla(0, 0, 0, 0.1);

$bgColor: hsl(0, 0, 98);
$primaryAccentColor: $orange;
$secondarAccentColor: $greenSea;
$text-color: $darkBlue;

// FONT STACKS
// $marker: 'Permanent Marker', cursive'; // not linked to
$noto: 'Noto Sans', sans-serif;
$muli: 'Muli', sans-serif;

// BREAK POINTS
$tablet-min-size: 768px !default;
$desktop-min-size: 979px !default;
$desktop-large-min-size: 1200px !default;

// SIZES
$widthSmall: 316px;
$widthRegular: 600px;
$widthFull: 979px;

$border-width: 0.3rem;
$borderRadius-size: 0.3rem;
//                   ,,               ,,             gp
// `7MMM.     ,MMF'  db               db             \/
//   MMMb    dPMM                                    `'
//   M YM   ,M MM  `7MM  `7M'   `MF'`7MM  `7MMpMMMb.   ,pP"Ybd
//   M  Mb  M' MM    MM    `VA ,V'    MM    MM    MM   8I   `"
//   M  YM.P'  MM    MM      XMX      MM    MM    MM   `YMMMa.
//   M  `YM'   MM    MM    ,V' VA.    MM    MM    MM   L.   I8
// .JML. `'  .JMML..JMML..AM.   .MA..JMML..JMML  JMML. M9mmmP'
// Media Queries
@mixin break($media) {
	@if $media == mobile {
		@media only screen and (max-width: $tablet-min-size) { @content; }
	}
	@else if $media == mobile-portrait {
		@media only screen and (max-width: $tablet-min-size) and (orientation: portrait) { @content; }
	}
	@else if $media == mobile-landscape {
		@media only screen and (max-width: $tablet-min-size) and (orientation: landscape) { @content; }
	}
	@else if $media == mobile-tablet {
		@media only screen and (max-width: $desktop-min-size) { @content; }
	}
	@else if $media == tablet {
		@media only screen and (min-width: $tablet-min-size) and (max-width: $desktop-min-size) { @content; }
	}
	@else if $media == tablet-andup {
		@media only screen and (min-width: $tablet-min-size) { @content; }
	}
	@else if $media == tablet-landscape {
		@media only screen and (min-width: $desktop-min-size) and (orientation: landscape) { @content; }
	}
	@else if $media == tablet-desktop {
		@media only screen and (min-width: $desktop-min-size) { @content; }
	}
	@else if $media == desktop {
		@media only screen and (min-width: $desktop-min-size) { @content; }
	}
	@else if $media == desktop-large {
		@media only screen and (min-width: $desktop-large-min-size) { @content; }
	}
}


@mixin group() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// APPEARENCE
@mixin notecard-header($lineColor: $lightRed, $lineWidth: 0.1em) {
	$prefixs: -webkit- -moz- -o- -ms- '';
	@each $prefix in $prefixs {
		background-image: #{$prefix}linear-gradient(
			bottom,
			$lineColor, $lineColor $lineWidth,
			#FFFFFF $lineWidth, #FFFFFF
		);
	}
}
@mixin notecard-body($lineColor: $lightBlue, $lineWidth: 0.1em, $lineHeight: 1.4em) {
	$prefixs: -webkit- -moz- -o- -ms- '';
	@each $prefix in $prefixs {
		background-image: #{$prefix}repeating-linear-gradient(
			top,
			#FFFFFF 0em, #FFFFFF $lineHeight - $lineWidth,
			$lineColor $lineHeight - $lineWidth, $lineColor $lineHeight
		);
	}
}
@mixin gradient($baseColor) {
	$prefixs: -webkit- -moz- -o- -ms- '';
	@each $prefix in $prefixs {
		background-image: #{$prefix}linear-gradient(
			to right bottom,
			white
			// lighten($baseColor, 40%),
			$baseColor
		);
	}
}

//                                                        ,,
// `7MM"""YMM               mm                          `7MM
//   MM    `7               MM                            MM
//   MM   d    `7M'   `MF'mmMMmm .gP"Ya `7MMpMMMb.   ,M""bMM
//   MMmmMM      `VA ,V'    MM  ,M'   Yb  MM    MM ,AP    MM
//   MM   Y  ,     XMX      MM  8M""""""  MM    MM 8MI    MM
//   MM     ,M   ,V' VA.    MM  YM.    ,  MM    MM `Mb    MM
// .JMMmmmmMMM .AM.   .MA.  `Mbmo`Mbmmd'.JMML  JMML.`Wbmd"MML.
%wrap {
	@include group();
	width: 100%;
}
%wrap-content {
	@include group();
	margin: 0 auto;
	width: $widthSmall;
	@include break(tablet) {
		width: $widthRegular;
	}
	@include break(desktop) {
		width: $widthFull;
	}
}
%text-box {
	background-color: $bgColor;
	border-bottom: $border-width solid $primaryAccentColor;
	border-radius: $borderRadius-size;
	padding: 1em;
}

//            ,,                                          ,,        ,,
//  .M"""bgd  db   mm               `7MMF'     A     `7MF'db      `7MM
// ,MI    "Y       MM                 `MA     ,MA     ,V            MM
// `MMb.    `7MM mmMMmm .gP"Ya         VM:   ,VVM:   ,V `7MM   ,M""bMM  .gP"Ya
//   `YMMNq.  MM   MM  ,M'   Yb         MM.  M' MM.  M'   MM ,AP    MM ,M'   Yb
// .     `MM  MM   MM  8M""""""         `MM A'  `MM A'    MM 8MI    MM 8M""""""
// Mb     dM  MM   MM  YM.    ,          :MM;    :MM;     MM `Mb    MM YM.    ,
// P"Ybmmd" .JMML. `Mbmo`Mbmmd'           VF      VF    .JMML.`Wbmd"MML.`Mbmmd'
* {
	box-sizing: border-box;
}
img {
	padding: 0 !important; // with box-sizing: border-box images should never have padding
}

html {
	height: 100%;
}
body {
	background-color: $bgColor;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: $text-color;
	font-family: $muli;
	font-weight: 400;
	height: 100%;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $noto;
	font-weight: 700;
}
a:link, a:visited {
	text-decoration: none;
}
a:hover, a:active {

}
// 88  88 888888    db    8888b.  888888 88""Yb
// 88  88 88__     dPYb    8I  Yb 88__   88__dP
// 888888 88""    dP__Yb   8I  dY 88""   88"Yb
// 88  88 888888 dP""""Yb 8888Y"  888888 88  Yb
header {
	@extend %wrap;
	border-bottom: $border-width solid $secondarAccentColor;
}
.header-content {
	@include group();
	margin: 0 auto;
	width: $widthSmall;
	@include break(tablet-andup) {
		width: $widthRegular;
	}
	@include break(tablet) {
		position: relative;
		@include group();
	}
	@include break(desktop) {
	}
	.logo {
		float: left;
		margin-top: 2em;
	}
	.logoText {
		position: relative;
	}
	.logoText, .logo {
		// @extend %mobile-1-col;
		// @extend %tablet-andup-1-2-col;
		// @extend %desktop-1-4-col;
	}
}
.logo-title, .tagline {
	margin: 0;
}
.logo-title {
	color: $orange;
	line-height: 2em;
	position: relative;
	@include break(tablet-andup) {
		display: block;
		padding-top: 4.4em;
	}
	.club {
		font-size: 4.6em;
		line-height: 1em;
		@include break(tablet-andup) {
			font-size: 4.2em;
		}
	}
	.house {
		font-size: 3.2em;
		@include break(tablet-andup) {
			font-size: 2.9em;
		}
	}
}
.tagline {
	font-family: $muli;
	font-size: 2em;
	font-weight: 400;
	margin: 0.5em 0 1em;
	line-height: 1.2em;
	@include break(tablet-andup) {
		font-size: 1.5em;
		left: 330px;
		position: absolute;
		top: 2em;
	}
	@include break(desktop) {
		top: 2.6em;
	}
}
nav {
	@extend %wrap;
}
.nav-content {
	@extend %wrap-content;
	font-size: 1.2em;
	margin: 1em auto;
	text-align: center;
	a:link, a:visited {
		color: $text-color;
		padding: 0.5em;
	}
}
// 88""Yb  dP"Yb  Yb        dP .dP"Y8
// 88__dP dP   Yb  Yb  db  dP  `Ybo."
// 88"Yb  Yb   dP   YbdPYbdP   o.`Y8b
// 88  Yb  YbodP     YP  YP    8bodP'
.row-wrap {
	@extend %wrap;
	background-repeat: none;
	background-size: cover;
	border-bottom: $border-width solid $secondarAccentColor;
}
.row-content {
	@extend %wrap-content;
	min-height: 500px;
	padding: 1em 0;
	position: relative;
}
.row-header, .row-body {
	@extend %text-box;
	@include break(tablet-andup) {
		position: absolute;
	}
}
.row-header {
	@include break(tablet-andup) {
		top: 1em;
		left: 0;
	}
}
.row-body {
	@include break(tablet-andup) {
		bottom: 1em;
		right: 0;
		width: 50%;
	}
}
.what-wrap {
	background-image: url(../img/grayscale1.jpg);
}
.why-wrap {
	background-image: url(../img/grayscale3.jpg);
}
.join-wrap {
	background-image: url(../img/grayscale2.jpg);
}
.email-submit {
	text-align: center;
	margin: 2em 0 1.5em;
}
input[type=text], input[type=submit] {
	background-color: transparent;
	border: 0.1rem solid $secondarAccentColor;
	border-radius: $borderRadius-size;
	padding: 0.2em 0.7em;
	text-color: $text-color;
	&:focus {
		border-color: $primaryAccentColor;
		outline: 0;
	}
}
// 888888  dP"Yb   dP"Yb  888888 888888 88""Yb
// 88__   dP   Yb dP   Yb   88   88__   88__dP
// 88""   Yb   dP Yb   dP   88   88""   88"Yb
// 88      YbodP   YbodP    88   888888 88  Yb
footer {
	@extend %wrap;
}
.footer-content {
	@extend %wrap-content;
	margin: 2em auto 3em;
	text-align: center;
	a:first-child {
		margin-right: 2em;
	}
}





//                                                    ,,        ,,
//   .g8""8q.                                         db      `7MM
// .dP'    `YM.                                                 MM
// dM'      `MM `7M'   `MF'.gP"Ya `7Mb,od8 `7Mb,od8 `7MM   ,M""bMM  .gP"Ya  ,pP"Ybd
// MM        MM   VA   ,V ,M'   Yb  MM' "'   MM' "'   MM ,AP    MM ,M'   Yb 8I   `"
// MM.      ,MP    VA ,V  8M""""""  MM       MM       MM 8MI    MM 8M"""""" `YMMMa.
// `Mb.    ,dP'     VVV   YM.    ,  MM       MM       MM `Mb    MM YM.    , L.   I8
//   `"bmmd"'        W     `Mbmmd'.JMML.   .JMML.   .JMML.`Wbmd"MML.`Mbmmd' M9mmmP'